.player-cards {
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 576px) {
    .player-cards {
    }
}

@media (min-width: 992px) {
    .portfolio__item {
    }
}