.score-information-modal-container {
    align-items: center;
    background-color: black;
    display: none;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.score-information-modal {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
    width: 300px;
}

.score-information-modal-player-image img {
    border-bottom: 2px solid black;
    max-width: 100%;
}

.score-information-modal-container.visible {
    display: flex;
    left: 0;
    position: fixed;
    top: 0;
}

.close-button {
    align-items: center;
    background: blueviolet;
    border: none;
    color: whitesmoke;
    display: flex;
    font-size: 20px;
    height: 55px;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.close-button:hover {
    background: violet;
    transition: all 0.6s ease;
}