* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #4a8fe7;
    font-family: Lato;
}

/* Global Styles */
.flex-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0px 10px;
}